* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  /* left*/
  .left-con {
    position: absolute;
    width: 25%;
    height: 100vh;
    background-color: rgb(236, 165, 165);
  }
  .left-bt {
    margin-top: 70%;
    display: grid;
    justify-content: center;
  }
  
  .left-bt button {
    margin: 10% auto;
    min-width: 100%;
    background-color: ;
    padding: 10% 32px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  
  
  /* right*/
  .col-rg {
    position: relative;
    width: 75%;
    height: 100vh;
    margin-left: 25%;
    padding: 0% 7%;
    background-color: #ffffff;
  }
  
  .grd {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-decoration: none;
    padding: 2%;
  }
  
  .gd-items {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 5%;
  }
  .gd-items-hd {
    background-color: rgb(117, 117, 163);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: larger;
    padding: 5%;
  }
  .gd-items a {
    text-decoration: none;
    background-color: rgb(100, 149, 237);
    padding: 2% 8%;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
  }
  
  .rg-sd-btn {
    min-width: 50%;
    padding: 2%;
    font-size: 15em;
    border-radius: 4px;
    text-align: center;
  }
  
  
  
  /* form*/
  
  .lf-form {
    padding: 1%;
  }
  
  .form-lf {
    white-space: pre;
    border: 2px solid rgba(0, 0, 0, 0.8);
    width: 65%;
    font-size: large;
    background-color: #b3ffff;
    border-radius: 10px;
  }
  .form-lf label {
    font-size: larger;
  }
  
  .form-lf input[type="text"],
  label {
    margin: 1% auto;
    width: 40%;
    height: 5vh;
    border-radius: 5px;
  }
  
  .label-name {
    margin-right: 10px;
  }
  
  .label-area {
    margin-right: 19px;
  }
  
  .label-id {
    margin-right: 39px;
  }
  
  .form-lf input[type="submit"] {
    margin-left: 56%;
    background-color: #a6ff4d;
    border: 1px solid lightblue;
    width: 120px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
  }
  

  }
  